* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notelist {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.note {
  background-color: rgb(250, 250, 67);
  border-radius: 10px;
  width: 250px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.notefooter {
  display: flex;
  justify-content: space-between;
}


.App-header {
  font-weight: 700;
  font-size: 36px;
  padding: 20px 0;
}

.App {
  
  margin: auto;
  width: 50%;
}

.deleteIcon {
  cursor: pointer;
}

.form {
  background-color: rgb(250, 250, 67);
  border-radius: 10px;
  width: 250px;
  min-height: 200px;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

textarea {
  height: 140px !important;  
  width: 97%;
  background-color: rgb(250, 250, 67);
  border: 0;
  padding: 0;
  resize: none;
}

textarea {
  outline: none;
}

span {
  word-wrap: break-word;
  /* overflow: auto; */
  text-overflow: clip;
}

input[type="submit"] {
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(7, 177, 64);
  color: white;
  font-weight: 600;
}

input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 2px 3px grey;
  transform: translateY(-3px) translateX(-2px);
}